:root {
  --bg-color: #e4eaf5;
  --bg-menu-panel: #7c92a4  ;
  --bg-menu-highlight: #e0e0e0a6;
  --bg-dark: #e88e72;
  --text-light: #ffffffb2;
  --text-dark: #4b2e2e;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: repeating-linear-gradient(
    135deg,
    #e0e0e0 0px,
    #e0e0e0 250px,
    #e0e0e0 300px,
    #c0c0c0 400px,
    #e0e0e0 500px,
    
    #e0e0e0 750px,
    #e0e0e0 800px,
    #c0c0c0 900px,
    #e0e0e0 1000px,
    
    #e0e0e0 1250px,
    #e0e0e0 1300px,
    #c0c0c0 1400px,
    #e0e0e0 1500px
  );
  background-size: 3000px 3000px; /* Enlarged to fit the wider smooth stripes */
  background-repeat: repeat;
  color: #333;
}

button {
  cursor: pointer;
  transition: transform 0.15s ease;
}

button:hover:not(:disabled) {
  transform: scale(1.03);
}

