<div class="container">
    <div class="header">
        <button class="add-note" (click)="onNewNoteClick()">+ New Note +</button>
    </div>

    <div class="notes-section">
        <h2 class="notes-title">Notes</h2>
        <app-card-list 
            [items]="notes" 
            [cardTemplate]="noteCardTemplate"
            [hasMore]="hasMoreNotes" 
            [loading]="loadingNotes"
            (loadMore)="loadMoreNotes()"
            (itemClick)="onNoteSelected($event.id)">
        </app-card-list>
    </div>
</div>

<!-- Template for note cards -->
<ng-template #noteCardTemplate let-note>
    <div class="card">
        <img class="image" [src]="note.imageUrl" />
        <span class="title">{{note.name}}</span>
    </div>
</ng-template>