<form [formGroup]="form" (ngSubmit)="submit()" class="form">
    <app-error-message [message]="errorMessage"></app-error-message>

    <div>
        <label for="ideaTitle">Title</label>
        <input type="text" id="ideaTitle" formControlName="title" placeholder="Title" class="input" />
    </div>

    <div>
        <label for="ideaDescription">Description</label>
        <textarea id="ideaDescription" formControlName="description" placeholder="Description" class="input textarea" rows="4"></textarea>
    </div>

    <div>
        <label for="ideaOutcome">Outcome</label>
        <textarea id="ideaOutcome" formControlName="outcome" placeholder="Outcome" class="input textarea" rows="4"></textarea>
    </div>

    <p class="idea-tried-sessions-readonly" *ngIf="idea?.connectedSessions?.length">
        <ng-container [ngSwitch]="idea!.connectedSessions!.length">
            <ng-container *ngSwitchCase="1">
                {{ ideaTriedSessionsIntro(idea!.connectedSessions!.length) }}<a [routerLink]="['/sessions', idea!.connectedSessions![0].id]" class="session-link">{{ sessionLinkText(idea!.connectedSessions![0]) }}</a><span class="tried-end">.</span>
            </ng-container>
            <ng-container *ngSwitchCase="2">
                {{ ideaTriedSessionsIntro(idea!.connectedSessions!.length) }}<a [routerLink]="['/sessions', idea!.connectedSessions![0].id]" class="session-link">{{ sessionLinkText(idea!.connectedSessions![0]) }}</a><span> and </span><a [routerLink]="['/sessions', idea!.connectedSessions![1].id]" class="session-link">{{ sessionLinkText(idea!.connectedSessions![1]) }}</a><span class="tried-end">.</span>
            </ng-container>
            <ng-container *ngSwitchDefault>
                {{ ideaTriedSessionsIntro(idea!.connectedSessions!.length) }}
                <ng-container *ngFor="let s of idea!.connectedSessions!; let i = index; let last = last">
                    <ng-container *ngIf="i > 0 && !last">, </ng-container>
                    <ng-container *ngIf="i > 0 && last"> and </ng-container>
                    <a [routerLink]="['/sessions', s.id]" class="session-link">{{ sessionLinkText(s) }}</a>
                </ng-container>
                <span class="tried-end">.</span>
            </ng-container>
        </ng-container>
    </p>
    <p class="idea-tried-sessions-hint" *ngIf="isEditMode && !idea?.connectedSessions?.length">
        Session links are managed on each <a routerLink="/sessions" class="session-link">session</a>.
    </p>

    <div class="form-actions" [class.form-actions-three]="isEditMode">
        <div class="form-actions-slot form-actions-start">
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid || isSubmitting">
                {{ isEditMode ? 'Save' : 'Add' }}
            </button>
        </div>
        <div class="form-actions-slot form-actions-middle" *ngIf="isEditMode">
            <button type="button" class="btn btn-secondary" (click)="onViewResults()" [disabled]="isSubmitting">
                View Results
            </button>
        </div>
        <div class="form-actions-slot form-actions-end" *ngIf="isEditMode">
            <button type="button" class="btn btn-danger" (click)="isDeleteModalOpen = true" [disabled]="isSubmitting">
                Delete
            </button>
        </div>
    </div>
</form>

<app-confirm-delete-modal
    [open]="isDeleteModalOpen"
    title="Delete idea"
    [message]="deleteConfirmMessage"
    (confirm)="confirmDelete()"
    (cancel)="isDeleteModalOpen = false">
</app-confirm-delete-modal>
