button {
    transition: transform .15s ease;
}

select {
    width: -webkit-fill-available;
}

input {
    width: -webkit-fill-available;
}

button:hover:not(:disabled) {
    transform: scaleX(1.03);
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 450px;
}

.box {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-title {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.input {
    padding: 0.5rem 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 6px;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.100);
    color: #fff;
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.valid-for-container {
    display: inline-grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: auto 4px auto;
    align-items: center;

    label {
        grid-column-start: 1;
        grid-row-start: 1;
        place-self: center
    }

    #validForWeeksInput {
        grid-column-start: 2;
        grid-row-start: 1;
    }

    #validForWeeksSpan {
        grid-column-start: 3;
        grid-row-start: 1;
    }

    #validForSeparator {
        grid-column-start: 2;
        grid-row-start: 2;
        place-self: center;
        padding-right: 14px;
    }

    #validForFilmsInput {
        grid-column-start: 2;
        grid-row-start: 3;
    }

    #validForFilmsSpan {
        grid-column-start: 3;
        grid-row-start: 3;
    }

    input {
        margin: 5px;
        text-align: center;
    }
}

.submit-btn {
    padding: 0.5rem;
    background-color: rgba(37, 35, 35, 0.897);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
}

.submit-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.spinner {
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    fill: white;
}

.spinner-bg {
    fill: none;
    stroke: currentColor;
    opacity: 0.25;
}

.spinner-path {
    fill: currentColor;
    opacity: 0.75;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}