.add-kit {
  width: 150px;
  height: 60px;
  border: 3px solid #315cfd;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 1.2em;
  font-weight: 550;
}

.add-kit:hover {
  background: #315cfd;
  color: white;
  font-size: 1.5em;
}

.center-container{
    margin: 0 auto; 
    text-align: center;
}