<div class="container">
    <button class="add-kit" (click)="onNewKitClick()">+ New Kit +</button>

    <div class="devkits-container">
        <div class="devkit-list">
            <div *ngFor="let kit of availableDevKits" class="card">
                <img class="image" [src]="kit.imageAsBase64" />
                <span class="title">{{kit.name}}</span>
                <span class="info type">{{kit.type}}</span>
                <span class="info ramaining">{{kit.filmsDeveloped}}/{{kit.validForFilms}}</span>
            </div>
        </div>

        <div class="devkit-list">
            <div *ngFor="let kit of expiredDevKits" class="card">
                <img class="image" [src]="kit.imageAsBase64" />
                <span class="title">{{kit.name}}</span>
                <span class="info type">{{kit.type}}</span>
                <span class="info ramaining">{{kit.filmsDeveloped}}/{{kit.validForFilms}}</span>
            </div>
        </div>
    </div>
</div>