.add-kit {
  padding: 0.5rem;
  background-color: rgba(37, 35, 35, 0.897);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: transform .15s ease;
}

.add-kit:hover {
  transform: scaleX(1.03);
}

.center-container {
  margin: 0 auto;
  text-align: center;
}

img {
  width: 200px;
}