<div class="container">
    <div class="header">
        <button class="add-film" (click)="onNewFilmClick()">+ New Film +</button>
    </div>

    <div class="tab-container">
        <div class="tabs">
            <button [class.active]="activeTab === 'my'" (click)="setActiveTab('my')">My Films</button>
            <button [class.active]="activeTab === 'all'" (click)="setActiveTab('all')">All Films</button>
        </div>
    </div>

    <div class="films-container" *ngIf="activeTab === 'my'">
        <app-film-search 
            [isMyFilmsTab]="true"
            [initialSearchParams]="myFilmsSearchParams"
            (search)="onSearch($event)"
            (clearFilters)="onClearFilters()">
        </app-film-search>

        <div class="films-section">
            <h2 class="films-title">Not Developed Films</h2>
            <app-list
                *ngIf="myFilmCardTemplate"
                [items]="myNotDevelopedFilms"
                [cardTemplate]="myFilmCardTemplate"
                [rowTemplate]="myFilmRowTemplate"
                [columnHeaders]="myFilmTableHeaders"
                [hasMore]="hasMoreMyNotDeveloped"
                [loading]="loadingMyNotDeveloped"
                (loadMore)="loadMoreMyNotDevelopedFilms()"
                (itemClick)="onFilmSelected($event.id)">
            </app-list>
        </div>

        <div class="films-section">
            <h2 class="films-title">Developed Films</h2>
            <app-list
                *ngIf="myFilmCardTemplate"
                [items]="myDevelopedFilms"
                [cardTemplate]="myFilmCardTemplate"
                [rowTemplate]="myFilmRowTemplate"
                [columnHeaders]="myFilmTableHeaders"
                [hasMore]="hasMoreMyDeveloped"
                [loading]="loadingMyDeveloped"
                (loadMore)="loadMoreMyDevelopedFilms()"
                (itemClick)="onFilmSelected($event.id)">
            </app-list>
        </div>
    </div>

    <div class="films-container" *ngIf="activeTab === 'all'">
        <app-film-search 
            [isMyFilmsTab]="false"
            [initialSearchParams]="allFilmsSearchParams"
            (search)="onSearch($event)"
            (clearFilters)="onClearFilters()">
        </app-film-search>

        <div class="films-section">
            <h2 class="films-title">Not Developed Films</h2>
            <app-list
                *ngIf="allFilmCardTemplate"
                [items]="allNotDevelopedFilms"
                [cardTemplate]="allFilmCardTemplate"
                [rowTemplate]="allFilmRowTemplate"
                [columnHeaders]="allFilmTableHeaders"
                [hasMore]="hasMoreAllNotDeveloped"
                [loading]="loadingAllNotDeveloped"
                (loadMore)="loadMoreAllNotDevelopedFilms()"
                (itemClick)="onFilmSelected($event.id)">
            </app-list>
        </div>

        <div class="films-section">
            <h2 class="films-title">Developed Films</h2>
            <app-list
                *ngIf="allFilmCardTemplate"
                [items]="allDevelopedFilms"
                [cardTemplate]="allFilmCardTemplate"
                [rowTemplate]="allFilmRowTemplate"
                [columnHeaders]="allFilmTableHeaders"
                [hasMore]="hasMoreAllDeveloped"
                [loading]="loadingAllDeveloped"
                (loadMore)="loadMoreAllDevelopedFilms()"
                (itemClick)="onFilmSelected($event.id)">
            </app-list>
        </div>
    </div>
</div>

<!-- Templates for different card types -->
<ng-template #myFilmCardTemplate let-film>
    <div class="card">
        <div class="image"><img *ngIf="film.imageUrl" [src]="film.imageUrl" [alt]="film.name || film.brand" /></div>
        <span class="title">{{ film.name || film.brand }}</span>
        <span class="info type">{{film.type}}</span>
        <span class="info iso">ISO {{film.iso}}</span>
        <span class="info photos" *ngIf="film.photoCount && film.photoCount > 0">{{film.photoCount}}</span>
    </div>
</ng-template>

<ng-template #allFilmCardTemplate let-film>
    <div class="card">
        <div class="image"><img *ngIf="film.imageUrl" [src]="film.imageUrl" [alt]="film.name || film.brand" /></div>
        <span class="title">{{ film.name || film.brand }}</span>
        <span class="info type">{{film.type}}</span>
        <span class="info iso">ISO {{film.iso}}</span>
        <span class="info owner">{{film.purchasedBy}}</span>
        <span class="info photos" *ngIf="film.photoCount && film.photoCount > 0">{{film.photoCount}}</span>
    </div>
</ng-template>

<ng-template #myFilmRowTemplate let-film>
    <td>{{ film.name || film.brand }}</td>
    <td>{{ film.type }}</td>
    <td>{{ film.iso }}</td>
    <td>{{ film.photoCount ?? 0 }}</td>
    <td class="film-cell-image"><app-image-preview [imageUrl]="film.imageUrl" [alt]="film.name || film.brand" popoverPosition="left"></app-image-preview></td>
</ng-template>

<ng-template #allFilmRowTemplate let-film>
    <td>{{ film.name || film.brand }}</td>
    <td>{{ film.type }}</td>
    <td>{{ film.iso }}</td>
    <td>{{ film.purchasedBy }}</td>
    <td>{{ film.photoCount ?? 0 }}</td>
    <td class="film-cell-image"><app-image-preview [imageUrl]="film.imageUrl" [alt]="film.name || film.brand" popoverPosition="left"></app-image-preview></td>
</ng-template>