<button class="mobile-toggle" (click)="toggleSidebar()">☰</button>

<div class="nav" [class.open]="isOpenOnMobile">
  <span>{{username}}</span>
  <div class="nav-items">
    <div class="menu-btn" (click)="onHomeClick()">
      <img src="/assets/home.svg" class="icon" />
      <span>Home</span>
    </div>
    <div class="menu-btn" (click)="onNotesClick()">
      <img src="/assets/book.png" class="icon" />
      <span>Notes</span>
    </div>
    <div class="menu-btn" (click)="onSubstancesClick()">
      <img src="/assets/substance.png" class="icon" />
      <span>Substances</span>
    </div>
  </div>
  <div class="menu-btn bottom-element" (click)="onLogoutClick()">
    <img src="/assets/sign-out.png" class="icon" />
    <span>Sign Out</span>
  </div>
</div>