.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 12%;
  background-color: var(--bg-menu-panel);
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.menu-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--text-light);
  background-color: transparent;
  padding: 25px;
  text-align: left;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s, padding-left 0.2s;
}

.menu-btn:hover {
  background-color: 	var(--bg-menu-highlight);
  padding-left: 24px;
}

.bottom-element{
  margin-top: auto;
}

.icon{  
  width: 20px;
  height: 20px;
  object-fit: contain;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .nav {
    width: 180px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav.open {
    transform: translateX(0);
  }

  .nav-items {
    margin-top: 60px; 
  }

  .mobile-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1100;
    background-color: var(--bg-menu-panel);
    color: white;
    border: none;
    padding: 10px 14px;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
  }
}

@media (min-width: 769px) {
  .mobile-toggle {
    display: none;
  }
}